<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Applikation i Flask</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"  rel="stylesheet">

    <!-- Private stylesheet, loads last -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"   aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Spellchecker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {%- if request.path == "/" %} class="active" {% endif %}><a href="{{ url_for('index') }}">Home</a></li>
                <li {%- if request.path == "/check_word" %} class="active" {% endif %}><a href="{{ url_for('check_word') }}">Check Word</a></li>
                <li {%- if request.path == "/prefix_search" %} class="active" {% endif %}><a href="{{ url_for('prefix_search') }}">Prefix Search</a></li>
                <li {%- if request.path == "/suffix_search" %} class="active" {% endif %}><a href="{{ url_for('suffix_search') }}">Suffix search</a></li>
                <li {%- if request.path == "/correct_spelling" %} class="active" {% endif %}><a href="{{ url_for('correct_spelling') }}">Correct spelling</a></li>
                <li {%- if request.path == "/all_words" %} class="active" {% endif %}><a href="{{ url_for('all_words') }}">All Words</a></li>
                <li {%- if request.path == "/remove_word" %} class="active" {% endif %}><a href="{{ url_for('remove_word') }}">Remove Word</a></li>
                <li {%- if request.path == "/change_file" %} class="active" {% endif %}><a href="{{ url_for('change_file') }}">Change File</a></li>
                <li {%- if request.path == "/clear_session" %} class="active" {% endif %}><a href="{{ url_for('clear_session') }}">Clear Session</a></li>
            </ul>
        </div>
    </div>
</nav>